.logo-kecil-16 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-kecil-1-wrapper3 {
  align-self: stretch;
  width: 217.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.beranda6 {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.button-navbar30 {
  width: 143px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.event6 {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.button-navbar31 {
  width: 111px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.destinasi6 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.button-navbar32 {
  width: 151px;
  border-radius: var(--br-5xs);
  background-color: var(--color-crimson);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.kuliner6 {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.button-navbar33 {
  width: 128px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.akomodasi6 {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.button-navbar34 {
  width: 173px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.pajamasearth-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.indonesia6 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  color: inherit;
  display: inline-block;
  min-width: 112px;
}
.frame-child96 {
  height: 24px;
  width: 24px;
  position: relative;
}
.content7,
.navbar4,
.pajamasearth-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.pajamasearth-parent3 {
  gap: var(--gap-base-5);
  text-align: left;
}
.content7,
.navbar4 {
  gap: var(--gap-5xs);
  max-width: 100%;
}
.content7 {
  align-self: stretch;
  height: 85px;
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-56xl) var(--padding-base)
    var(--padding-61xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.background-icon,
.shape-icon {
  object-fit: cover;
}
.background-icon,
.background-parent,
.frame-child97,
.shape-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.shape-parent {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-child97,
.shape-parent {
  z-index: 1;
}
.background-parent {
  margin: 0 !important;
}
.search-icon {
  width: 431px;
  height: 65px;
  max-width: 100%;
}
.temukan-informasi-seputar2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.search-bar,
.temukan-informasi-seputar-wisa-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.search-bar {
  flex-direction: column;
  gap: var(--gap-77xl);
}
.pantai-parangtritis1 {
  width: 261px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.input {
  width: 224px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.cari4 {
  flex: 1;
  position: relative;
}
.search-button1 {
  width: 94px;
  border-radius: var(--br-5xl);
  background-color: var(--color-crimson);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs-5) var(--padding-5xs);
  box-sizing: border-box;
  text-align: center;
  color: var(--color-white);
}
.search-input,
.search4 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.search4 {
  width: 800px;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-8xs)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.search-input {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-29xl);
}
.search-child {
  width: 40px;
  height: 12px;
  position: relative;
}
.card-content-destinasi7,
.search3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.search3 {
  width: 1186px;
  margin: 0 !important;
  position: absolute;
  top: 139px;
  left: calc(50% - 593px);
  justify-content: flex-start;
  gap: var(--gap-29xl);
  z-index: 2;
}
.card-content-destinasi7 {
  align-self: stretch;
  height: 600px;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.material-symbols-lightforest-icon2 {
  width: 56px;
  height: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.alam2 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.button-kategori14,
.labels {
  display: flex;
  align-items: center;
  justify-content: center;
}
.labels {
  width: 61px;
  flex-direction: row;
}
.button-kategori14 {
  flex: 0.337;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-41xl);
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.icon-type {
  width: 46.2px;
  height: 45.5px;
  position: relative;
}
.fluentbeach-20-regular2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-5xl);
}
.pantai2 {
  width: 148px;
  position: relative;
  flex-shrink: 0;
}
.button-kategori15,
.pantai-frame,
.pantai2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pantai-frame {
  align-self: stretch;
  flex-direction: row;
}
.button-kategori15 {
  flex: 0.6796;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-10xl);
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.vector-icon12 {
  height: 47.6px;
  width: 44.8px;
  position: relative;
}
.fluenthome-heart-20-regular2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-2) var(--padding-6xl);
}
.budaya2 {
  width: 148px;
  position: relative;
  flex-shrink: 0;
}
.budaya-frame,
.budaya2,
.button-kategori16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.budaya-frame {
  align-self: stretch;
  flex-direction: row;
}
.button-kategori16 {
  flex: 0.6796;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-10xl);
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.vector-icon13 {
  width: 46px;
  height: 44.1px;
  position: relative;
}
.guidancemuseum2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-6xl) var(--padding-7xs-9);
}
.museum2 {
  text-decoration: none;
  width: 148px;
  position: relative;
  color: inherit;
  flex-shrink: 0;
}
.button-kategori17,
.museum-frame,
.museum2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.museum-frame {
  align-self: stretch;
  flex-direction: row;
}
.button-kategori17 {
  flex: 0.6796;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-10xl);
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.vector-icon14 {
  width: 41.7px;
  height: 40.1px;
  position: relative;
}
.material-symbols-lightinteres2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs-9);
}
.minat-khusus2 {
  flex: 1;
  position: relative;
}
.button-kategori18,
.minat-khusus-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.minat-khusus-frame {
  align-self: stretch;
  flex-direction: row;
}
.button-kategori18 {
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.vector-icon15 {
  height: 48.1px;
  width: 48.1px;
  position: relative;
}
.phbuilding-light2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-9) var(--padding-9xs) var(--padding-9xs)
    var(--padding-10xs);
}
.buatan2 {
  flex: 1;
  position: relative;
}
.buatan-frame,
.button-kategori19 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buatan-frame {
  align-self: stretch;
  flex-direction: row;
}
.button-kategori19 {
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.vector-icon16 {
  width: 43px;
  height: 43px;
  position: relative;
}
.material-symbols-lightholiday2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs-5) var(--padding-7xs);
}
.desa-wisata2 {
  flex: 1;
  position: relative;
}
.desa-wisata-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-kategori20,
.category-buttons1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-kategori20 {
  border-radius: 0 var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-5xs);
  min-width: 179px;
  max-width: 183px;
}
.category-buttons1 {
  flex-direction: row;
  max-width: 100%;
  row-gap: 20px;
  z-index: 3;
}
.category,
.destination,
.main2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.category {
  flex-direction: row;
  padding: 0 var(--padding-61xl) 0 var(--padding-60xl);
  box-sizing: border-box;
  margin-top: -57px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.destination,
.main2 {
  flex-direction: column;
}
.main2 {
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.hasil-pencarian-1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.event-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.event8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 127px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.content-pencarian-child {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.perubahan-retribusi-pantai {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.april-2024 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 62px;
}
.details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sobat-visiting-jogja7 {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian,
.event-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.event-info {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.content-pencarian-item {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.lenterne-festival-de {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.agustus-2018 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 77px;
}
.lenterne-festival-de-paris-pan-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sedikitnya-1000-lampion {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian1,
.frame-parent76 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent76 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.content-pencarian-inner {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.kenali-rip-current {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.desember-2022 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 88px;
}
.kenali-rip-current-palung-laut-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sobat-visiting-jogja8 {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian2,
.frame-parent77 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent77 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian2 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.content-pencarian-child1 {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.atraksi-udara-jogja {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.agustus-2019 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 77px;
}
.atraksi-udara-jogja-air-show-2-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.minggu-258-kemarin {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian3,
.frame-parent78 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent78 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian3 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.event-content,
.event-list {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.event-content {
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(4, minmax(223px, 1fr));
  text-align: left;
  font-size: var(--font-size-base);
}
.event-list {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-21xl);
}
.berita {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.news-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.image-80-icon {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.tarif-pariwisata-di {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.juni-20248 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 52px;
}
.news-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.berdasarkan-peraturan-bupati {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian4,
.news-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news-details {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian4 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.image-79-icon,
.nekat-main-air {
  align-self: stretch;
  position: relative;
}
.image-79-icon {
  height: 200px;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.nekat-main-air {
  font-weight: 600;
}
.juni-20249 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 58px;
}
.nekat-main-air-di-palung-paran-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.tiga-orang-wisatawan {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian5,
.frame-parent79 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent79 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian5 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.image-78-icon {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.parangtritis-national-surfing {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.maret-2023 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 68px;
}
.parangtritis-national-surfing-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.dont-miss-it,
.parangtritis-national-surfing1 {
  margin: 0;
}
.dont-miss-it-container {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian6,
.frame-parent80 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent80 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian6 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.image-77-icon {
  align-self: stretch;
  height: 200px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.atraksi-udara-jogja1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.agustus-2023 {
  position: relative;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  display: inline-block;
  min-width: 77px;
}
.atraksi-udara-jogja-air-show-2-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.langit-pantai-parangtritis {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
}
.content-pencarian7,
.frame-parent81 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent81 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.content-pencarian7 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.news-content {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(4, minmax(223px, 1fr));
}
.info-terbaru1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.latest-info,
.news,
.news-list {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.latest-info {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
}
.news,
.news-list {
  flex-direction: column;
  justify-content: flex-start;
}
.news-list {
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.news {
  gap: var(--gap-21xl);
}
.placeholders-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.columns {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.span2 {
  color: var(--color-crimson);
}
.westlife-with-love-tour-2024-d1 {
  margin: 0;
}
.juni-202410 {
  margin: 0;
  color: var(--color-black);
}
.westlife-with-love-container1 {
  position: relative;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 245px;
  max-width: 100%;
}
.frame-child98,
.rows {
  flex: 1;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.rows {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child98 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper7 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.juni-202411,
.pawai-alegoris-harmoni1 {
  margin: 0;
}
.pawai-alegoris-harmoni-container1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.frame-parent82,
.pawai-alegoris-harmoni-jogja-2-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 245px;
  max-width: 100%;
}
.frame-parent82 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-5xl);
  min-width: 406px;
  color: var(--color-black);
}
.frame-child99,
.rows-parent {
  align-self: stretch;
  max-width: 100%;
}
.rows-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  color: var(--color-gray-200);
}
.frame-child99 {
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper8 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.jogja-violin-fest2,
.juni-202412 {
  margin: 0;
}
.jogja-violin-fest-container1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.jogja-violin-fest-5-8-juni-20-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 377px;
  max-width: 100%;
}
.frame-child100,
.frame-parent84 {
  flex: 1;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frame-parent84 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child100 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper9 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.ekspectanica-yogyakarta-20241,
.juni-202413 {
  margin: 0;
}
.ekspectanica-yogyakarta-2024-container1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.ekspectanica-yogyakarta-2024-frame,
.frame-parent85 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 377px;
  max-width: 100%;
}
.frame-parent85 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child101,
.frame-parent83 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent83 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-child101 {
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper10 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.juni-202414,
.kerontjong-pesisiran-mataraman2 {
  margin: 0;
}
.kerontjong-pesisiran-mataraman-container2 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.kerontjong-pesisiran-mataraman-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 245px;
  max-width: 100%;
}
.frame-child102,
.frame-parent87 {
  flex: 1;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frame-parent87 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child102 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper11 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.artjog-20242,
.juni-1-september-20241 {
  margin: 0;
}
.artjog-2024-container1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.artjog-2024-motif-ramalan-frame,
.frame-parent88 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 377px;
  max-width: 100%;
}
.frame-parent88 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child103,
.frame-parent86 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent86 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-child103 {
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper12 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.juni-202415,
.petualangan-gizi-seimbang2 {
  margin: 0;
}
.petualangan-gizi-seimbang-container1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.petualangan-gizi-seimbang-di-m-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 245px;
  max-width: 100%;
}
.frame-child104,
.frame-parent90 {
  flex: 1;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frame-parent90 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child104 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper13 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.geopark-night-specta5,
.juni-202416 {
  margin: 0;
}
.geopark-night-specta-container1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.frame-parent91,
.geopark-night-specta-60-28-2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 377px;
  max-width: 100%;
}
.frame-parent91 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child105,
.frame-parent89 {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent89 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frame-child105 {
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper14 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.juli-20242,
.keroncong-plesiran-vol3 {
  margin: 0;
}
.keroncong-plesiran-vol-container2 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.keroncong-plesiran-vol-8-20-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 377px;
  max-width: 100%;
}
.frame-child106,
.frame-parent93 {
  flex: 1;
  border-radius: var(--br-5xs);
  max-width: 100%;
}
.frame-parent93 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-child106 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-wrapper15 {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}
.juli-20243,
.keroncong-plesiran-vol4 {
  margin: 0;
}
.keroncong-plesiran-vol-container3 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.keroncong-plesiran-vol-8-20-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 377px;
  max-width: 100%;
}
.frame-parent92,
.frame-parent94,
.tour {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent94 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 406px;
}
.frame-parent92,
.tour {
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.frame-parent92 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.tour {
  flex: 1;
  flex-direction: column;
}
.westlife-tour {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.event7,
.search-results,
.westlife-tour {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.event7 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.search-results {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-60xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-crimson);
  font-family: var(--font-open-sans);
}
.placeholder {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-crimson);
}
.image-21-icon12,
.image-22-icon12,
.image-23-icon6 {
  height: 150px;
  width: 150px;
  position: relative;
  object-fit: contain;
}
.image-21-icon12,
.image-23-icon6 {
  height: 120px;
  width: 120px;
}
.image-21-icon12 {
  height: 90px;
  width: 90px;
  object-fit: cover;
}
.image-22-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
.image-17-icon6,
.image-18-icon12,
.image-20-icon12 {
  height: 90px;
  width: 90px;
  position: relative;
  object-fit: cover;
}
.image-17-icon6,
.image-18-icon12 {
  height: 120px;
  width: 120px;
}
.image-17-icon6 {
  height: 150px;
  width: 150px;
}
.image-20-parent4,
.placeholder-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}
.image-20-parent4 {
  justify-content: flex-start;
  z-index: 1;
}
.placeholder-parent {
  width: 1440px;
  justify-content: space-between;
  position: relative;
  min-height: 350px;
  gap: var(--gap-xl);
}
.tourism-information-center6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.description-child {
  width: 250px;
  height: 3px;
  position: relative;
}
.description {
  height: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.hpwa-08526,
.hubungi-tim-tic6,
.membutuhkan-informasi-tentang6 {
  margin: 0;
}
.membutuhkan-informasi-tentang-container6 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
}
.dinas-pariwisata-diy6 {
  flex: 1;
  position: relative;
}
.center,
.source {
  display: flex;
  justify-content: center;
}
.source {
  width: 276px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs-5) 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: var(--font-size-5xl);
  color: var(--color-crimson);
}
.center {
  width: 713px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
  min-width: 713px;
  max-width: 100%;
}
.putih-kecil-16 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child107 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.image-18-icon13 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent29 {
  height: 36px;
  width: 36px;
  position: relative;
}
.frame-child108 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.image-19-icon6 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent30 {
  height: 36px;
  width: 36px;
  position: relative;
}
.frame-child109 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.image-20-icon13 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent31 {
  height: 36px;
  width: 36px;
  position: relative;
}
.frame-child110 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.image-21-icon13 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent32 {
  height: 36px;
  width: 36px;
  position: relative;
}
.frame-child111 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.image-22-icon13 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent33 {
  height: 36px;
  width: 36px;
  position: relative;
}
.frame-child112 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.image-26-icon6 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent34 {
  height: 36px;
  width: 36px;
  position: relative;
}
.icons,
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-5xs);
}
.icons {
  height: 187.1px;
  width: 300px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 300px;
}
.center-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
}
.content-inner2 {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: -1360px;
}
.content8 {
  flex: 1;
  flex-direction: row;
  max-width: 100%;
}
.card-content-destinasi8,
.content8,
.highfy-halaman-cari-informas {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-content-destinasi8 {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.highfy-halaman-cari-informas {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .navbar4 {
    display: none;
  }
  .buatan-frame,
  .desa-wisata-frame,
  .minat-khusus-frame {
    justify-content: center;
  }
  .category-buttons1 {
    flex-wrap: wrap;
  }
  .event-content,
  .news-content {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(223px, 387px));
  }
}
@media screen and (max-width: 1050px) {
  .temukan-informasi-seputar2 {
    font-size: var(--font-size-10xl);
  }
  .search4 {
    width: calc(100% - 40px);
  }
  .berita,
  .event8,
  .hasil-pencarian-1,
  .info-terbaru1 {
    font-size: var(--font-size-13xl);
  }
  .tourism-information-center6 {
    font-size: var(--font-size-10xl);
  }
  .center,
  .icons {
    flex: 1;
  }
  .center-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .category,
  .content7 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .category {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-21xl);
  }
  .event-content {
    grid-template-columns: minmax(223px, 1fr);
  }
  .event-list {
    gap: var(--gap-xl);
  }
  .news-content {
    grid-template-columns: minmax(223px, 1fr);
  }
  .news-list {
    gap: var(--gap-5xl);
  }
  .news {
    gap: var(--gap-xl);
  }
  .placeholders-icon {
    align-self: stretch;
    width: auto;
  }
  .columns {
    flex: 1;
  }
  .rows {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child98 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper7 {
    flex: 1;
  }
  .frame-parent82 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child99 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper8 {
    flex: 1;
  }
  .jogja-violin-fest-5-8-juni-20-container {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent84 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child100 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper9 {
    flex: 1;
  }
  .ekspectanica-yogyakarta-2024-frame {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent85 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child101 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper10 {
    flex: 1;
  }
  .frame-parent87 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child102 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper11 {
    flex: 1;
  }
  .artjog-2024-motif-ramalan-frame {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent88 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child103 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper12 {
    flex: 1;
  }
  .frame-parent90 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child104 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper13 {
    flex: 1;
  }
  .geopark-night-specta-60-28-2-container {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent91 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child105 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper14 {
    flex: 1;
  }
  .keroncong-plesiran-vol-8-20-frame {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent93 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-child106 {
    align-self: stretch;
    width: auto;
  }
  .rectangle-wrapper15 {
    flex: 1;
  }
  .keroncong-plesiran-vol-8-20-wrapper1 {
    flex: 1;
    min-width: 100%;
  }
  .frame-parent94 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .event7 {
    gap: var(--gap-xl);
  }
  .search-results {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .placeholder-parent {
    flex-wrap: wrap;
  }
  .center {
    min-width: 100%;
  }
  .highfy-halaman-cari-informas {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .temukan-informasi-seputar2 {
    font-size: var(--font-size-3xl);
  }
  .cari4,
  .pantai-parangtritis1 {
    font-size: var(--font-size-lgi);
  }
  .search4 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-content-destinasi7 {
    height: auto;
    min-height: 600;
  }
  .alam2 {
    font-size: var(--font-size-lgi);
  }
  .button-kategori14 {
    flex: 1;
  }
  .pantai2 {
    font-size: var(--font-size-lgi);
  }
  .button-kategori15 {
    flex: 1;
  }
  .budaya2 {
    font-size: var(--font-size-lgi);
  }
  .button-kategori16 {
    flex: 1;
  }
  .museum2 {
    font-size: var(--font-size-lgi);
  }
  .button-kategori17 {
    flex: 1;
  }
  .buatan2,
  .desa-wisata2,
  .minat-khusus2 {
    font-size: var(--font-size-lgi);
  }
  .berita,
  .event8,
  .hasil-pencarian-1,
  .info-terbaru1 {
    font-size: var(--font-size-5xl);
  }
  .artjog-2024-container1,
  .ekspectanica-yogyakarta-2024-container1,
  .geopark-night-specta-container1,
  .jogja-violin-fest-container1,
  .keroncong-plesiran-vol-container2,
  .keroncong-plesiran-vol-container3,
  .kerontjong-pesisiran-mataraman-container2,
  .pawai-alegoris-harmoni-container1,
  .petualangan-gizi-seimbang-container1,
  .westlife-with-love-container1 {
    font-size: var(--font-size-lgi);
  }
  .tourism-information-center6 {
    font-size: var(--font-size-3xl);
  }
  .icons {
    gap: var(--gap-xl);
  }
}
